---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      const backBtn = document.getElementById("global-back-button");
      if (backBtn) {
        backBtn.addEventListener("click", () => {
          if (window.history.length > 1) {
            window.history.back();
          } else {
            window.location.href = "/";
          }
        });
      }
    </script>
  </body>
</html>
